{{#each restaurants as |restaurant|}}
{{log restaurant}}
<section data-id="{{restaurant.id}}">
  <h6>Name:</h6>
   {{restaurant.name}}
  <h6>Address:</h6>
   {{restaurant.address}}
  <h6>Description:</h6>
  <p>
    {{#if restaurant.description}}
        {{limit restaurant.description 15}}
    {{else}}
      No description provided.
      {{/if}}
  </p>
  <h6>Rating:</h6>
  {{restaurant.rating}}
  {{#if restaurant.editable}}
     {{> partial restaurant=restaurant}}
       {{/if}}
</section>
{{/each}}
